{{!< default}}
{{> "header"}}
<main id="content" class="content clearfix" role="main">
    <div id="articles">
        {{> "loop"}}
    </div>
    <div id="sidebar">
        {{> "sidebar"}}
    </div>
</main>