<div class="sidebox box social clearfix ssbox">
  <ul>
    <a href="/" class="social-item home"><li><i class="fa fa-home"></i></li></a>
    <a href="//twitter.com/riespandi" target="_blank" class="social-item tw"><li><i class="fa fa-twitter"></i></li></a>
    <a href="//github.com/riespandi" target="_blank" class="social-item github"><li><i class="fa fa-github"></i></li></a>
    <a href="/rss/" target="_blank" class="social-item rss"><li><i class="fa fa-rss"></i></li></a>
  </ul>
</div>

<form action="//duckduckgo.com/" class="sidebox box form-digest ssbox" method="get">
    <input type="text" name="q" autocomplete='off' placeholder="Temukan artikel menarik disini" required>
    <input type="hidden" name="sites" value="ariss.id">
    <input type="hidden" name="kae" value="c">
    <input type="hidden" name="k1" value="-1">
    <input type="hidden" name="kd" value="-1">
    <input type="hidden" name="kl" value="id-en">
    <input type="hidden" name="ku" value="-1">
    <input type="hidden" name="ko" value="-2">
    <input type="hidden" name="kx" value="3ebe47">
    <input type="hidden" name="kaa" value="fe1919">
    <input type="hidden" name="kf" value="w">
    <input type="submit" value="Terlusuri &rarr;">
</form>

<div class="mimi_field">
	<form accept-charset="UTF-8" action="//madmimi.com/signups/subscribe/148126" id="mad_mimi_signup_form" method="post" class="sidebox box form-digest">
	    <input type="text" id="signup_email" name="signup[email]" autocomplete='off' placeholder="Enter your mail address here" required>
	    <input name="utf8" type="hidden" value="✓"/>
	    <input type="submit" id="webform_submit_button" data-submitting-text="Sending..." data-thanks="Thank you!" value="Subcribe &rarr;">
	</form>
</div>

<div class="box sidebox about hidemobile">
  <div class="sidebox-title">Perihal</div>
  <div class="sidebox-content">
  	<p>{{@blog.description}}</p>
    <p><a href="/whoami">Selengkapnya mengenai saya dan blog ini &rarr;</a></p>
  </div>
</div>

<!--div class="box sidebox banner">
  <div id="instawidget"></div>
</div-->

<!--
<div class="box sidebox banner hidemobile">
  <div class="sidebox-title">Celotehan di Media</div>
  <div class="sidebox-content center">
      <a class="twitter-timeline"  href="//twitter.com/riespandi" data-widget-id="652748026323177472">Tweet oleh @riespandi</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
-->

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Artikel Terkini</div>
  <div class="sidebox-content"></div>
</div>

<div class="box sidebox banner">
  <div class="sidebox-title">Situs Keren</div>
  <div class="sidebox-content center">
    <p>
        <img onClick="window.open('//rtiksukabumi.net', '_blank')" src="//res.cloudinary.com/ariss/image/upload/c_scale,w_100/v1444577842/logo-rtik" title="Relawan TIK Sukabumi" />
        <img onClick="window.open('//sukabumitoday.com', '_blank')" src="//res.cloudinary.com/ariss/image/upload/c_scale,w_100/v1433948103/logo-sukabumitoday_z74v3j" title="SukabumiToday" />
        <img onClick="window.open('//panduapp.id', '_blank')" src="//res.cloudinary.com/ariss/image/upload/c_scale,w_200/v1444478994/reegtpsvix9cyczhq4lm.jpg" title="PanduApp" class="full" />
    </p>
  </div>
</div>